<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
<title>Bootstrap Simple Registration Form</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/styleadmin.css">


</head>
<body>
	<div class="pic">
			<img src="/static/logo.jpeg" width="250" height="120">
		</div>
<div class="signup-form">
    <form action="/admin" method="post">
		<h2>Admin Info</h2>
		<p class="hint-text">Log in to your account.</p>
        <div class="form-group">
			<div class="row">
				<div class="col"><input type="text" class="form-control" name="User Name" required="required"></div>
			</div>
        </div>
        <div class="form-group">
        	<input type="text" class="form-control" name="Password" required="required">
        </div>

		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Login</button>
        </div>
    </form>

</div>
</body>
</html>
