<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
	<style type="text/css">
		body{
			background: #edf2fb;
		}
		.init{
			    margin-left: 30%;
    			margin-top: 16%;
			}
	a{
		padding: 10px !important;
		margin-left: 10px;
		}
	}
	</style>
</head>
<body>
	<div class="pic">
			<img src="/static/logo.jpeg" width="250" height="120">
		</div>
	<div class="init">
	<h1> PLese select your option </h1>
	<div style="margin-top: 26px; margin-left: 66px;">
		<a href="/user" class="btn btn-success" style="width: 100px">User</a>
		<a href="/admin" class="btn btn-success" style="width: 100px">Admin</a>
	</div>
	</div>

</body>
</html>
